{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>
<body>
    
    <div class="imagen_fondo">
    <div class="header"></div>

    <div class="container_principal">
        <div class="login-container">
        <header class="encabezado_login">
            <h1 class="titulo">Login</h1>
        </header>
        <form action="" class="formulario" method="POST">
            {% csrf_token %}
            <div class="usuario">
                <div class="primer_campo_usuario">
                    <label for="username" class="label_usuario">Usuario:</label>
                    <label class="label_usuario">{{mensaje}}</label>
                    <div class="input_usuario">
                        <input type="text" value="{{campo_name}}" id="username" name="nombre" class="user" required>
                        <div class="input_estilo"></div>
                    </div>
                </div>
            </div>
            
            <div class="segundo_campo_contraseña">
                <label for="password" class="label_contraseña">Contraseña:</label>
                <div class="input_contraseña">
                    <input type="password" value="{{campo_password}}" id="password" name="contra" class="contra" required>
                </div>
            </div>

            <div class="boton_sub">
            <button type="submit" class="boton_iniciar_sesion">Iniciar sesión</button>
            </div>
        
        </form>
        <footer class="pie_del_login">
            <p class="parrafo_pie">¿Primera vez en Mr.majos? <a class="" target="_self" href="/">Registrate ahora</a>.</p>
        </footer>
        </div>
    </div>
    <footer class="pie_de_pagina"></footer>
    </div>

</body>
</html>
