{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo_edit_parametros.css' %}">
    <title>Document</title>
</head>
<body>
    <main class="container-nav">
        <header class="header">
            <nav class="nav">
                <a href="#" class="nav_logo">CodingLab</a>
            
                <ul class="nav_items">
                    <li class="nav_items">
                        <a href="{% url 'inicio' %}" class="nav_link">Home</a>
                        <a href="{% url 'cambio_tempe' inicio %}" class="nav_link">Temperatura</a>
                        <a href="{% url 'cambi_aceite' inicio %}" class="nav_link">Aceite</a>
                        <a href="{% url 'limpieza_puestos' inicio %}" class="nav_link">Limpieza</a>
                    </li>
                </ul>
            </nav>
        </header>
    </main>

    <div class="titulo">
        <a href="{% url 'puestos' %}"><img src="{% static 'icon/izquierda.png' %}" alt=""></a>
        <h1>EDITAR PUESTO: {{puesto_edit.nombre_puesto}}</h1>
    </div>

    <div class="contenedor-content">
        <div class="contenedor-form">
            <form action="" method="POST">
                {% csrf_token %}
                <div  class="input-texto">
                    <label>Nombre del puesto:</label>
                    <input type="text" name="nombre_puesto" required value="{{puesto_edit.nombre_puesto}}">
                </div>
                <button type="submit">Guardar</button>
            </form>
        </div>
        <div class="mensaje-contenedor">
            <span><img src="{% static 'icon/exclamacion.png' %}" alt="">Aviso:</span>
            {% if mensaje %}
                    <div class="mensaje">{{mensaje}}</div>
            {% endif %}
        </div>
    </div>
</body>
</html>