{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo_edit_parametros.css' %}">
    <title>Document</title>
</head>
<body>
    <main class="container-nav">
        <header class="header">
            <nav class="nav">
                <a href="#" class="nav_logo">CodingLab</a>
            
                <ul class="nav_items">
                    <li class="nav_items">
                        <a href="{% url 'inicio' %}" class="nav_link">Home</a>
                        <a href="{% url 'cambio_tempe' inicio %}" class="nav_link">Temperatura</a>
                        <a href="{% url 'cambi_aceite' inicio %}" class="nav_link">Aceite</a>
                        <a href="{% url 'limpieza_puestos' inicio %}" class="nav_link">Limpieza</a>
                    </li>
                </ul>
            </nav>
        </header>
    </main>

    <div class="titulo">
        <a href="{% url 'cargos' %}"><img src="{% static 'icon/izquierda.png' %}" alt=""></a>
        <h1>EDICION: {{cargo_edit.nombre_cargo}}</h1>
    </div>


    <div class="contenedor-content">
        <div class="contenedor-form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-texto">
                    <label>Nombre del cargo:</label>
                    <input type="text" name="nombre_cargo" required value="{{cargo_edit.nombre_cargo}}">
                </div>
                <div class="input-select">
                    <label>Selecciona el permiso:</label>
                    <select name="permiso">
                        {% if cargo_edit.permiso == "Admin" %}
                            <option value="Admin" selected>Admin</option>
                            <option value="Usuario">Usuario</option>
                        {% else %}
                            <option value="Admin">Admin</option>
                            <option value="Usuario" selected>Usuario</option>
                        {% endif %}
                    </select>
                </div>
                <button type="submit">Registrar</button>
            </form>
        </div>
        <div class="mensaje-contenedor">
            <span><img src="{% static 'icon/exclamacion.png' %}" alt="">Aviso:</span>
            {% if mensaje %}
                    <div class="mensaje">{{mensaje}}</div>
            {% endif %}
        </div>
    </div>
</body>
</html>